{% extends "layout.html" %}

{% block title %}Home - SkillMatch AI{% endblock title %}

{% block style %}
<style>
    .upload-form {
        background: white;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        margin: 0 auto;
    }


    select {
        width: 100%;
        padding: 6px;
        font-size: 16px;
        margin: 2px;
        appearance: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        border-radius: 10px;
    }
</style>


{% endblock style %}

{% block body %}

<div class="hero">
    <h1>Welcome To SkillMatch AI</h1>
    <p>Upload resumes and find the best candidates !</p>
</div>

<div class="upload-form">
    <!-- enctype="multipart/form-data" Is Necessary, To Take Uploaded Files As Input -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <h2>Upload Resumes</h2>
        <input type="file" name="uploaded_resumes" accept=".pdf" multiple required />

        <br /><br />

        <h2>Add Required Skills</h2>
        <p style="margin: 0; text-align: left; font-size: 14px">
            For Better Accuracy, Write A Single Word (keyword).
        </p>
        <input type="text" id="skill-input" placeholder="Name a Skill . . ." pattern="\S+"
            title="Spaces are not allowed. Use single words only." oninvalid="
                this.setCustomValidity(
                    'Please enter a single word without spaces',
                )
            " oninput="this.setCustomValidity('')" />

        <div id="skills-container"></div>

        <input type="hidden" name="skills" id="skills-hidden" />

        <br />
        <br />

        <h2>Minimum Education</h2>
        <select name="min_education" id="">
            {% for word in EDUCATION_WORDS %}
            <option value="{{ word.lower() }}">{{ word }}</option>
            {% endfor %}
        </select>

        <br /><br />

        <!-- submit -->
        <button type="submit">Analyze Resumes</button>
    </form>
</div>
{% endblock body %}

{% block script %}
<script src="{{ url_for('static', filename='js/skills.js') }}"></script>
{% endblock script %}