{% extends "layout.html" %}

{% block body %}

    <h1>Upload Resumes</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">

        <input type="file" name="uploaded_resumes" accept=".pdf" multiple required>

        <br><br>

        <div id="skills-container"></div>

        <input type="text" id="skill-input" placeholder="Type a skill">

        <input type="hidden" name="skills" id="skills-hidden">

        <br><br>

        <button type="submit">Upload Resume</button>

    </form>

    <br><br>

    <a href="/results">View Results</a>

{% endblock %}